body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Alinhamento vertical */
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container,
.image-container {
    width: 100%;
    margin-bottom: 20px; /* Espaço entre os formulários de login e cadastro */
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 300px; /* Define a altura máxima da imagem */
    height: auto;
    width: auto;
}

.image-container p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    color: #333;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container,
    .image-container {
        width: 45%;
        margin-bottom: 0; /* Remover o espaço extra nas telas maiores */
    }
}
